
.estimates-container{
  width: 100vw;
  box-sizing: border-box;
  overflow-y: hidden;
  > * {
    width: 96vw;
    margin: 2vw;
    float: left;
    box-sizing: border-box;
  }
  transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
  &.numbers{
    // transform: translate3d(0%, 0, 0)
  }
  &.shirts{
    // transform: translate3d(-100%, 0, 0)
  }
}